[Desktop Entry]
Type=Application
Exec=imwheel --kill
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=imwheel
Name=imwheel
Comment[en_US]=change mouse scroll
Comment=change mouse scroll
